{% extends 'django_pipes_blog/base.html' %}

{% block content %}
{% if status %}
<div class="message">
  {{ status }}
</div>
{% endif %}
<div class="new-post-form-container">
  <h2>New Post</h2>
  <form action="{{ action }}" method="post" name="post">
    {% csrf_token %}
    <input name="username" value="{{ username }}" type="hidden">
    {% for field in form %}
      <div class="field-wrapper">
        {{ field.errors }}
        {{ field.label_tag }}
        {% if field.help_text %}
          <span class="help-text">{{ field.help_text|safe }}</span>
        {% endif %}
        {{ field }}
      </div>
    {% endfor %}
    <!--ul>
      {{ form.as_ul }}
    </ul-->
    <!--ul class="formset">
      {{ formset.as_ul }}
    </ul-->
    <button>submit</button>
  </form>
</div>
{{ post_form }}
{% endblock content %}
