{% extends 'django_pipes_blog/base.html' %}

{% block content %}
{% if status %}
<div class="message">
  {{ status }}
</div>
{% endif %}
<div class="new-post-form-container">
  
  <form action="{{ action }}" method="post" name="post" enctype="multipart/form-data">
    <div class="full-width">
      {% if post_id %}
        <h2>Editing Post: {{ post.title }}</h2>
        <div>
          <button type="button" class="button">
            <a href="{% url 'django_pipes_blog:preview_post' post_id %}" target="_blank">
              Preview
            </a>
          </button>
          <button type="submit">Save</button>
        </div>
      {% else %}
        <h2>New Post</h2>
      {% endif %}
    </div>
    {% csrf_token %}
    <input name="username" value="{{ username }}" type="hidden">
    {% for field in form %}
      <div class="field-wrapper">
        {{ field.errors }}
        {{ field.label_tag }}
        {% if field.help_text %}
          <span class="help-text">{{ field.help_text|safe }}</span>
        {% endif %}
        {{ field }}
      </div>
    {% endfor %}
    <ul class="image-field-wrapper">
      {% comment %}
      {{ imageset.management_form }}
      {% for image in imageset %}
         <li>
          <span class="image-input">
            {{ image.errors }}
            {{ image.image }}
            <span class="help-text">
              {{ image.image.help_text }}
              <br />
              Use the tag 
              <b>{% templatetag openvariable %}image-{{forloop.counter0}} [position]{% templatetag closevariable %}</b>
              to place and position the image in this post.
            </span>
          </span>
          <span class="image-dims">
            <label>
              {{ image.small_dims.label }}
              {{ image.small_dims }}
            </label>
            <label>
              {{ image.medium_dims.label }}
              {{ image.medium_dims }}
            </label>
            <label>
              {{ image.large_dims.label }}
              {{ image.large_dims }}
            </label>
            <label>{{ image.DELETE.label }}:{{ image.DELETE }}</label>
          </span>
         </li>
      {% endfor %}
      {% endcomment %}
      {{ imageset.as_ul }}
    </ul>
    <button type="submit">Save</button>
  </form>
</div>
{% endblock content %}
