{% extends 'django_pipes_blog/base.html' %}

{% block content %}
{% if status %}
<div class="message">
  {{ status }}
</div>
{% endif %}
<div class="new-post-form-container">
  <h2>New Post</h2>
  <form action="{{ action }}" method="post" name="post">
    {% csrf_token %}
    <input name="username" value="{{ username }}" type="hidden">
    <ul>
      {{ form.as_ul }}
    </ul>
    <ul>
      {{ formset.as_ul }}
    </ul>
    <button>submit</button>
  </form>
</div>
{{ post_form }}
{% endblock content %}
