{% extends 'django_pipes_blog/base.html' %}

{% block page_title %}
<title>{{ month }} {{ year }} - Django Pipes Blog</title>
{% endblock page_title %}
{% block content %}

{% if tag %}
  <div class="posts-by-tag">
    <span>Posts tagged with:</span>
    <div class="tags">
      {% for t in tag %}
        <a href="{% url 'django_pipes_blog:tags' t %}">
          <span class="tag">{{ t }}</span>
        </a>
      {% endfor %}
    </div>
  </div>
{% endif %}

{% for post in posts %}
  <div class="blog-post">
    <a href="{% url 'django_pipes_blog:post' year=post.year month=post.month day=post.day slug=post.slug %}">
      <h3 class="title">{{ post.title }}</h3>
    </a>
    <h5 class="date-published">{{ post.date_published|date:"F d Y" }}</h5>
    <span class="text">{{ post.text|truncatechars:100 }}</span>
    <span class="text">{{ post.textblock_set.0.text|truncatechars:100 }}</span>
    <div class="tags">
      {% for t in post.tags %}
        <a href="{% url 'django_pipes_blog:tags' t %}">
          <span class="tag">{{ t }}</span>
        </a>
      {% endfor %}
    </div>
  </div>
{% endfor %}

{% endblock content %}
