{% extends 'django_pipes_blog/base.html' %}

{% block page_title %}
<title>{{ month }} {{ year }} - Django Pipes Blog</title>
{% endblock page_title %}
{% block content %}

{% for post in posts %}
  <div class="blog-post">
    <a href="{% url 'django_pipes_blog:post' year=post.year month=post.month day=post.day slug=post.slug %}">
      <h2 class="title">{{ post.title }}</h2>
    </a>
    <h4 class="date-published">{{ post.date_published|date:"F d Y" }}</h4>
    <span class="text">{{ post.textblock_set.0.text|truncatechars:100 }}</span>
    <div class="tags">
      {% for t in post.tags %}
        <a href="">
          <span class="tag">{{ t }}</span>
        </a>
      {% endfor %}
    </div>
  </div>
{% endfor %}

{% endblock content %}
