{% extends 'django_pipes_blog/base.html' %}

{% block page_title %}
<title>{{ month }} {{ year }} - Django Pipes Blog</title>
{% endblock page_title %}
{% block content %}

{% if tag %}
  <div class="posts-by-tag">
    <span>Posts tagged with:</span>
    <div class="tags">
      {% for t in tag %}
        <a href="{% url 'django_pipes_blog:tags' t %}">
          <span class="tag">{{ t }}</span>
        </a>
      {% endfor %}
    </div>
  </div>
{% endif %}

{% for p in posts %}
  <div class="blog-post">
    <div class="post-content">
      {% if p.published %}
        <a href="{% url 'django_pipes_blog:post' year=p.year month=p.month day=p.day slug=p.slug %}">
          <h3 class="title">{{ p.title }}</h3>
        </a>
      {% else %}
        <a href="{% url 'django_pipes_blog:edit_post' pk=p.id %}">
          <h3 class="title">{{ p.title }}</h3>
        </a>
        <a href="{% url 'django_pipes_blog:preview' pk=p.id %}">Preview</a>
      {% endif %}
      {% if p.published %}
        <h5 class="date-published">{{ p.date_published|date:"F d Y" }}</h5>
      {% else %}
        <h5 class="date-created">Created: {{ p.date_created|date:"F d Y" }}</h5>
      {% endif %}
      {% if p.images|length > 0 %}
        <div class="multi post-image">
          <img src="{{ p.images.0.small.url }}" >
        </div>
      {% endif %}
      <span class="text">{{ p.text|truncatechars:100 }}</span>
      <span class="text">{{ p.textblock_set.0.text|truncatechars:100 }}</span>
    </div>
    <div class="tags">
      {% for t in p.tags %}
        <a href="{% url 'django_pipes_blog:tags' t %}">
          <span class="tag">{{ t }}</span>
        </a>
      {% endfor %}
    </div>
  </div>
{% endfor %}

{% endblock content %}
