{% extends 'django_pipes_blog/base.html' %}

{% block content %}
<div class="post-container">
  <h2 class="title">{{ post.title }}</h2>
  <h5 class="date-published">{{ post.date_published|date:'F d Y' }}</h5>
  {% if post.postimage_set.all %}
    <div class="post-image">
      <img src="{{ post.postimage_set.all.0.medium.url }}">
    </div>
  {% endif %}
  <div class="post-text">
    <p>{{ post.text }}</p>
  </div>
  {% for b in post.textblock_set.all %}
    {% if b.block_title %}
      <h4>{{ b.block_title }}</h4>
    {% endif %}
    <p>
      {{ b.text }}
    </p>
  {% endfor %}
  <div class="tags">
    {% for t in post_tags_array %}
      <a href="{% url 'django_pipes_blog:tags' t %}">
        <span class="tag">{{ t }}</span>
      </a>
    {% endfor %}
  </div>
</div>

{% endblock content %}
