{% block sidebar %}
{% if user and not user.is_anonymous %}
<div class="new-post">
  <a href="{% url 'django_pipes_blog:new_post' %}">
    <span>New Post</span>
  </a>
</div>
{% endif %}
{% if post_id and user and user.id == post.user.id %}
<div class="preview-post">
  <a href="{% url 'django_pipes_blog:edit_post' pk=post_id %}">
    <span>Edit Post</span>
  </a>
</div>
{% endif %}
<div class="most-recent-posts">
  <h4>Recent Posts</h4>
  {% for p in sidebar_recent %}
    <a href="{% url 'django_pipes_blog:post' year=p.year month=p.month day=p.day slug=p.slug %}">
      <span>{{ p.title }}</span>
    </a>
  {% endfor %}
</div>
<div class="monthly-links">
  <h4>Archive</h4>
  {% for k, p in sidebar_month_list.items %}
    <a href="{% url 'django_pipes_blog:multi_post' year=p.year month=p.month %}">
      <span>{{ k }}</span>
    </a>
  {% endfor %}
</div>
{% endblock sidebar %}
