* {
  box-sizing: border-box;
}

body, html {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

/*
 * Main layout styles
 */
.main-container {
  height: 100%;
  width: 100%;
  max-width: 900px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 85% 15%;
  grid-template-rows: 100px 1fr 50px;
  grid-template-areas:
    "header header"
    "content sidebar"
    "footer footer";
  color: var(--color-dark);
  font-family: Roboto, Arial, sans-serif;
}

header {
  grid-area: header;
  display: flex;
  align-items: center;
  border-bottom: 2px solid var(--color-dark);
}

header a {
  text-decoration: none;
}

header h1 {
  margin: 0;
}

.content-container {
  grid-area: content;
  padding: 10px;
}

.sidebar {
  grid-area: sidebar;
  margin-top: 10px;
}

.sidebar h4 {
  margin-bottom: 0;
}

footer {
  grid-area: footer;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

/*
 * classes
 */
a,
a:visited {
  color: var(--color-bg-main);
}

.title {
  margin-bottom: 0;
}

.date-published {
  margin-top: 0;
}

.new-post,
.preview-post {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5px 0;
}

.new-post a,
.preview-post a {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  background-color: var(--color-bg-main);
  color: var(--color-main);
  width: 90%;
  height: 30px;
}

.new-post a span,
.preview-post a span {
  color: var(--color-main);
}

.most-recent-posts a,
.monthly-links a {
  display: block;
}

.posts-by-tag {
  margin: 15px;
}

.tags {
  display: flex;
  align-items: center;
}

.tag {
  background-color: var(--color-bg-main);
  color: var(--color-main);
  margin: 5px 10px;
  padding: 0 5px;
  height: 18px;
  display: flex;
  align-items: center;
  position: relative;
  font-size: 10pt;
}

.tag a {
  text-decoration: none;
  color: inherit;
}

.tag:before {
  content: '';
  border-top: 9px solid transparent;
  border-right: 7px solid var(--color-bg-main);
  border-bottom: 9px solid transparent;
  height: 0;
  width: 0;
  position: absolute;
  left: -7px;
  top: 0;
}

.post-image {
  text-align: center;
}

.post-image.multi {
  text-align: left;
}

/*
 * Form layout/styling
 */
form {
  display: flex;
  flex-wrap: wrap;
  padding: 20px;
  justify-content: center;
}

form ul,
form ul li {
  list-style: none;
}

form div.field-wrapper,
form div.image-field-wrapper,
form ul,
form ul li {
  width: 100%;
  margin: 0;
  padding: 0;
}

.image-field-wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
}

.image-field-wrapper label,
.image-field-wrapper input,
.image-field-wrapper li {
  width: auto;
  display: inline;
}

.image-field-wrapper li:first-of-type {
  width: 100%;
}

.image-field-wrapper li {
  padding: 5px;
}

.image-field-wrapper input[type=number] {
  width: 50px;
}

.field-wrapper .help-text,
.image-field-wrapper .help-text,
.image-field-wrapper .helptext {
  font-size: 10pt;
  display: block;
}

.image-field-wrapper .helptext {
  padding-top: 5px;
}

label,
input,
textarea {
  width: 100%;
}

label {
  font-weight: bold;
  padding: 5px 0;
  display: inline-block;
}

input[type=checkbox] {
  width: auto;
}

button {
  background-color: var(--color-bg-main);
  color: var(--color-main);
  height: 30px;
  width: 120px;
  border: none;
  font-weight: bold;
  text-transform: uppercase;
  margin-left: auto;
}

button:hover {
  cursor: pointer;
}

